

<div id="player"list">

	<div class="class-list scoutlist"> 
		<div class="class-header">Scout</div>
		<div id="scouts-added"> 
		
		<div class="player">Player 1 </div>
		<div class="player">Player 2 </div>
		<div class="player">Player 3 </div>
		
		</div>

	</div>
	<div class="class-list pocketlist"> 
		<div class="class-header">Pocket</div>
		<div id="pockets-added"> 
		<div class="player">Player 1 </div>
		<div class="player">Player 2 </div>
		<div class="player">Player 3 </div>
		</div>

	</div>
	<div class="class-list roamerlist"> 
		<div class="class-header">Roamer </div>
		<div id="roamers-added"> 
		<div class="player">Player 1 </div>
		<div class="player">Player 2 </div>
		<div class="player">Player 3 </div>		
		</div>

	</div>	
	<div class="class-list demolist"> 
		<div class="class-header">Demoman</div>
		<div id="demos-added"> 
		<div class="player">Player 1 </div>
		<div class="player">Player 2 </div>
		<div class="player">Player 3 </div>		
		</div>

	</div>
	<div class="class-list mediclist"> 
		<div class="class-header">Medic</div>
		<div id="meds-added"> 
		<div class="player">Player 1 </div>
		<div class="player">Player 2 </div>
		<div class="player">Player 3 </div>		
		</div>

	</div>

</div>