<body class="fullbleed" unresolved>
	<paper-drawer-panel force-narrow>
		{{> drawer}}

		<paper-scroll-header-panel main>
			{{> toolbar}}

			<div id="main">
				{{> @partial-block }}
			</div>
		</paper-scroll-header-panel>
	</paper-drawer-panel>
</body>
