<body class="fullbleed" unresolved>
	<paper-drawer-panel responsive-width="1200px">
  		{{> drawer}}

  		<paper-scroll-header-panel main>
			{{> toolbar}}

			<div id="main">
                {{> @partial-block }}
            </div>
        </paper-scroll-header-panel>
    </paper-drawer-panel>
</body>
