<div id = "class-selection">

	<div id = "scout" class="tf2-class">
		<div class="btn-group" data-toggle="buttons">
		
			<label class="btn btn-tf2classes">
			
				<input type="checkbox" autocomplete="off" checked><span class="icon-scouttf2-scout"></span>
			
			</label>
		
		</div>
		<div class="class-title">
			<h3> Scout </h3>
		</div>
		<div class="players-added"> 
		0 
		</div>
		
	</div>
	<div id = "pocket" class="tf2-class">
		<div class="btn-group" data-toggle="buttons">
			<label class="btn btn-tf2classes">
				<input type="checkbox" autocomplete="off" checked><span class="icon-scouttf2-scout"></span>
			</label>		
		</div>
		<div class="class-title">
			<h3> Pocket </h3>
		</div>
		<div class="players-added"> 
		0 
		</div>
			
	</div>
	<div id = "roamer" class="tf2-class">
		<div class="btn-group" data-toggle="buttons">
			<label class="btn btn-tf2classes">
				<input type="checkbox" autocomplete="off" checked><span class="icon-scouttf2-scout"></span>
			</label>		
		</div>
		<div class="class-title">
			<h3> Roamer </h3>
		</div>
		<div class="players-added"> 
		0 
		</div>
			
	
	</div>
	<div id = "demoman" class="tf2-class">
		<div class="btn-group" data-toggle="buttons">
			<label class="btn btn-tf2classes">
				<input type="checkbox" autocomplete="off" checked><span class="icon-scouttf2-scout"></span>
			</label>		
		</div>
		<div class="class-title">
			<h3> Demoman </h3>
		</div>
		<div class="players-added"> 
		0 
		</div>
			
	
	</div>
	<div id = "medic" class="tf2-class">
		<div class="btn-group" data-toggle="buttons">
			<label class="btn btn-tf2classes">
				<input type="checkbox" autocomplete="off" checked><span class="icon-scouttf2-scout"></span>
			</label>		
		</div>
		<div class="class-title">
			<h3> Medic </h3>
		</div>
		<div class="players-added"> 
		0 
		</div>
			
	</div>
	<div id = "captain" class="tf2-class">
		<div class="btn-group" data-toggle="buttons">
			<label class="btn btn-tf2classes">
				<input type="checkbox" autocomplete="off" checked><span class="icon-scouttf2-scout"></span>
			</label>		
		</div>
		<div class="class-title">
			<h3> Captain </h3>
		</div>
		<div class="players-added"> 
		0 
		</div>
			
	</div>

</div>