<paper-header-panel drawer>
    <paper-toolbar></paper-toolbar>

    <paper-menu id="drawer-menu">
        <a href="/" target="_blank">
            <paper-icon-item>
                <iron-icon icon="home" item-icon></iron-icon> Home
            </paper-icon-item>
        </a>

        <a href="/players" target="_blank">
            <paper-icon-item>
                <iron-icon icon="social:people" item-icon></iron-icon> Players
            </paper-icon-item>
        </a>

        <a href="/games" target="_blank">
            <paper-icon-item>
                <iron-icon icon="hardware:gamepad" item-icon></iron-icon> Games
            </paper-icon-item>
        </a>

        {{#if user}}
            <a href="/user/settings" target="_blank">
                <paper-icon-item>
                    <iron-icon icon="settings" item-icon></iron-icon> Settings
                </paper-icon-item>
            </a>

            {{#if user.admin}}
                <paper-submenu>
                    <paper-icon-item class="menu-trigger">
                        <iron-icon icon="supervisor-account" item-icon></iron-icon> Admin
                    </paper-icon-item>

                    <paper-menu class="menu-content">
                        <a href="/admin/users" target="_blank">
                            <paper-icon-item>
                                <iron-icon icon="social:people" item-icon></iron-icon> Users
                            </paper-icon-item>
                        </a>

                        <a href="/admin/games" target="_blank">
                            <paper-icon-item>
                                <iron-icon icon="hardware:gamepad" item-icon></iron-icon> Games
                            </paper-icon-item>
                        </a>

                        <a href="/admin/servers" target="_blank">
                            <paper-icon-item>
                                <iron-icon icon="hardware:developer-board" item-icon></iron-icon> Servers
                            </paper-icon-item>
                        </a>
                    </paper-menu>
                </paper-submenu>
            {{/if}}

            <a href="/user/logout">
                <paper-icon-item>
                    <iron-icon icon="lock" item-icon></iron-icon> Sign Out
                </paper-icon-item>
            </a>
        {{else}}
            <a href="/user/login">
                <paper-icon-item>
                    <iron-icon icon="lock-open" item-icon></iron-icon>
                    <img src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_small.png">
                </paper-icon-item>
            </a>
        {{/if}}

    </paper-menu>
</paper-header-panel>
