<footer class="footer">
	<nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
			<p class="navbar-text">Pugchamp info and cool stuff goes down here </p>
        </div>
    </nav>
</footer>
