<footer class="footer">
	<nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
			<p class="navbar-text">a Forward Command Post project</p>
        </div>
    </nav>
</footer>
