<div class="header">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" hrerf="#"> PUGCHAMP </a>
            </div>

            <div class="collapse navbar-collapse" id="navbar1">
                <ul class="nav navbar-nav">
                    <li> <a href="#"> About/Rules </a> </li>
                    <li> <a href="#"> Another Link </a> </li>
                    <li> <a href="#"> Mumble </a> </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="user-info">
                        {{#if user}}
                            Logged in as {{user}}. <a href="/user/logout">Log out</a>.
                        {{else}}
                            <a href="/user/login">
                                <img src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_small.png">
                            </a>
                        {{/if}}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
