   
	<paper-header-panel class="flex">
        <paper-toolbar  class="horizontal layout">
            <div id="branding" class="title">PugChamp</div>
			
		
			{{#if user}}
				<paper-dropdown-menu class="nounderline" vertical-align="bottom" label={{user.alias}}>
					<paper-menu class="dropdown-content vertical layout">
						<paper-listbox >
							<paper-item><a href="/user/settings">Settings</a></paper-item>
							<paper-item><a href="/user/logout">Logout</a></paper-item>
						</paper-listbox>
					</paper-menu>
				</paper-dropdown-menu>
			{{else}}
			<div id = "login" class="horizontal layout" >
				<a href="/user/login">
						<img src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_small.png">
				</a>
			</div>
			{{/if}}
    </paper-toolbar>

	</paper-header-panel>
	


