<head>
    {{#if title}}
        <title>{{title}} | PugChamp</title>
    {{else}}
        <title>PugChamp</title>
    {{/if}}

    <script src="/components/webcomponentsjs/webcomponents.js"></script>
    <link rel="import" href="/components/iron-icons/hardware-icons.html">
    <link rel="import" href="/components/iron-icons/iron-icons.html">
    <link rel="import" href="/components/iron-icons/social-icons.html">
    <link rel="import" href="/components/paper-drawer-panel/paper-drawer-panel.html">
    <link rel="import" href="/components/paper-header-panel/paper-header-panel.html">
    <link rel="import" href="/components/paper-icon-button/paper-icon-button.html">
    <link rel="import" href="/components/paper-item/paper-icon-item.html">
    <link rel="import" href="/components/paper-menu/paper-menu.html">
    <link rel="import" href="/components/paper-menu/paper-submenu.html">
    <link rel="import" href="/components/paper-scroll-header-panel/paper-scroll-header-panel.html">
    <link rel="import" href="/components/paper-styles/paper-styles.html">
    <link rel="import" href="/components/paper-toolbar/paper-toolbar.html">

    <style is="custom-style">
        body {
            @apply(--paper-font-common-base);
            color: var(--light-theme-text-color);
        }

        h1 {
            @apply(--paper-font-headline);
        }

        h2 {
            @apply(--paper-font-title);
        }

        h3 {
            @apply(--paper-font-subhead);
        }

        #app-name {
            @apply(--paper-font-display1);
        }

        #drawer-menu a {
            color: inherit;
            text-decoration: inherit;
        }

        #main {
            padding: 16px;
        }
    </style>

    {{> @partial-block }}
</head>
