<paper-toolbar>
    <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
    <div class="flex" id="app-name">PugChamp</div>
    {{#if home}}
    <pugchamp-admin-request></pugchamp-admin-request>
    {{/if}}
</paper-toolbar>
