<!doctype html>

<html>

    {{#> head title="Error"}}
    {{/head}}

    {{#> body}}
    <h2>Error</h2>

    <p>There seems to have been an error while accessing this page. Please try again soon.</p>
    {{/body}}

</html>
