<!doctype html>

<html>

    {{#> head title=(concat user.alias "'s Games")}}
    <link rel="import" href="/elements/pugchamp-game-summary/pugchamp-game-summary.html">
    {{/head}}

    {{#> body}}
    <h1>{{user.alias}}'s Games</h1>

    {{#each games}}
    <pugchamp-game-summary game="{{toJSON this}}" {{#if ../hideCaptains}}hide-captains{{/if}}></pugchamp-game-summary>
    {{/each}}
    {{/body}}

</html>
