<!doctype html>

<html>

<head>
    <link rel="import" href="/components/polymer/polymer.html">
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{> header }}

	<div class="container">
		<div class="row">
			<div class="col-md-12">
                <div class="alert alert-danger" role="alert" id="disconnected-alert"><i class="glyphicon glyphicon-alert"></i> You are not connected to the server.</div>

				<div id="restriction-alerts"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6" id="captain-select" hidden>
				<label><input type="checkbox" disabled> Captain</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="roles">
					{{#each roles}}
						<div class="role">
							<div class="role-select">
								<label><input type="checkbox" value="{{@key}}" disabled hidden> {{this.name}}</label>
							</div>

                            <div class="role-players">
    							<template data-type="{{@key}}" is="dom-repeat">
                                    <div class="role-player">
                                        \{{item.alias}}
                                    </div>
                                </template>
                            </div>
						</div>
					{{/each}}
				</div>
			</div>
		</div>
	</div>

    {{> footer }}

	<script src="/components/jquery/dist/jquery.min.js"></script>
	<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/pugchamp.js"></script>
</body>

</html>
