<!doctype html>

<html>

<head>
    {{> head}}

	<link rel="import" href="/elements/pugchamp-client/pugchamp-client.html">
	<link rel="import" href="/elements/pugchamp-launchpad/pugchamp-launchpad.html">
	<link rel="import" href="/elements/pugchamp-restrictions/pugchamp-restrictions.html">
</head>

<body class="fullbleed" unresolved>
	<paper-drawer-panel>
  		{{> drawer}}

  		<div main>
			{{> toolbar}}

			<div>
                <pugchamp-restrictions></pugchamp-restrictions>
				<pugchamp-launchpad></pugchamp-launchpad>
			</div>
		</div>
	</paper-drawer-panel>

    <pugchamp-client></pugchamp-client>
</body>

</html>
