<!doctype html>

<html>

    {{#> head}}
    <link rel="import" href="/components/iron-flex-layout/classes/iron-flex-layout.html">

    <link rel="import" href="/elements/pugchamp-admin-request/pugchamp-admin-request.html">
    <link rel="import" href="/elements/pugchamp-chat/pugchamp-chat.html">
    <link rel="import" href="/elements/pugchamp-client/pugchamp-client.html">
    <link rel="import" href="/elements/pugchamp-current-game/pugchamp-current-game.html">
    <link rel="import" href="/elements/pugchamp-draft/pugchamp-draft.html">
    <link rel="import" href="/elements/pugchamp-launchpad/pugchamp-launchpad.html">
    <link rel="import" href="/elements/pugchamp-restrictions/pugchamp-restrictions.html">
    <link rel="import" href="/elements/pugchamp-substitute-requests/pugchamp-substitute-requests.html">
    <link rel="import" href="/elements/pugchamp-volume-control/pugchamp-volume-control.html">

    <style is="custom-style">
        @media (max-width: 1500px) {
            pugchamp-chat {
                margin-top: 16px;
                width: 100%;
            }
        }

        @media (min-width: 1500px) {
            pugchamp-chat {
                margin-left: 16px;
                width: 300px;
            }
        }

        #content {
            min-width: 850px;
        }
    </style>
    {{/head}}

    {{#> body home=true}}
    <pugchamp-client>
        <div class="horizontal layout wrap">
            <div id="content" class="flex">
                <pugchamp-restrictions></pugchamp-restrictions>
                <pugchamp-current-game></pugchamp-current-game>
                <pugchamp-substitute-requests></pugchamp-substitute-requests>
                <pugchamp-draft></pugchamp-draft>
                <pugchamp-launchpad></pugchamp-launchpad>
            </div>
            <pugchamp-chat></pugchamp-chat>
        </div>
    </pugchamp-client>
    {{/body}}

</html>
