<!doctype html>

<html>

<head>
	<script src="/components/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
    <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{> header }}

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="roles">
					{{#each roles}}
						<div class="role">
							<div class="role-select" id="{{@key}}-select">
								<label><input type="checkbox"> {{this.name}}</label>
							</div>
						</div>
					{{/each}}
				</div>
			</div>
		</div>
	</div>

    {{> footer }}

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/pugchamp.js"></script>
</body>

</html>
