<!doctype html>

<html>

<head>
    {{> head}}

	<link rel="import" href="/elements/pugchamp-client/pugchamp-client.html">
	<link rel="import" href="/elements/pugchamp-launchpad/pugchamp-launchpad.html">
	<link rel="import" href="/elements/pugchamp-restrictions/pugchamp-restrictions.html">
	<link rel="import" href="/elements/pugchamp-chat/pugchamp-chat.html">

    <style is="custom-style">
        pugchamp-chat {
            width: 300px;
        }
    </style>
</head>

<body class="fullbleed" unresolved>
	<paper-drawer-panel>
  		{{> drawer}}

  		<div main>
			{{> toolbar}}

			<div id="main">
                <pugchamp-restrictions></pugchamp-restrictions>

                <div class="horizontal layout">
	                <pugchamp-launchpad class="flex"></pugchamp-launchpad>
                    <pugchamp-chat></pugchamp-chat>
                </div>
			</div>
		</div>
	</paper-drawer-panel>

    <pugchamp-client></pugchamp-client>
</body>

</html>
