<!doctype html>

<html>

<head>
    {{> head}}

    <link rel="import" href="/elements/pugchamp-chat/pugchamp-chat.html">
	<link rel="import" href="/elements/pugchamp-client/pugchamp-client.html">
	<link rel="import" href="/elements/pugchamp-draft/pugchamp-draft.html">
	<link rel="import" href="/elements/pugchamp-launchpad/pugchamp-launchpad.html">
	<link rel="import" href="/elements/pugchamp-restrictions/pugchamp-restrictions.html">

    <style is="custom-style">
        pugchamp-chat {
            width: 300px;
        }
		#content {
            min-width: 800px;
		}
    </style>
</head>

<body class="fullbleed" unresolved>
	<paper-drawer-panel responsive-width="1200px">
  		{{> drawer }}

  		<paper-scroll-header-panel main>
			{{> toolbar}}

			<div id="main">
                <pugchamp-restrictions></pugchamp-restrictions>

                <hr>

                <div class="horizontal layout wrap">
                    <div id="content" class="flex">
    	                <pugchamp-draft></pugchamp-draft>

                        <hr>

    	                <pugchamp-launchpad></pugchamp-launchpad>
                    </div>
                    <pugchamp-chat></pugchamp-chat>
                </div>
			</div>
		</paper-scroll-header-panel>
	</paper-drawer-panel>

    <pugchamp-client></pugchamp-client>
</body>

</html>
