<!doctype html>

<html>

    {{#> head title="Players"}}
    <link rel="import" href="/components/paper-datatable/paper-datatable.html">
    {{/head}}

    {{#> body}}
    <h1>Players</h1>

    <paper-datatable data="{{toJSON players}}" id="players">
        <paper-datatable-column header="Player" property="alias" sortable></paper-datatable-column>
        <paper-datatable-column header="Steam ID" property="steamID"></paper-datatable-column>
        <paper-datatable-column header="Rating" property="rating" sortable></paper-datatable-column>
        <paper-datatable-column header="Deviation" property="deviation" sortable>
            <template>&plusmn;\{{value}}</template>
        </paper-datatable-column>
        <paper-datatable-column header="Captain Score" property="captainScore" sortable></paper-datatable-column>
    </paper-datatable>

    <script>
        document.getElementById('players').addEventListener('row-tap', function(event) {
            window.location = '/player/' + event.detail.item.id;
        });
    </script>
    {{/body}}

</html>
