<!doctype html>

<html>

{{#> head}}
    <link rel="import" href="/components/iron-flex-layout/classes/iron-flex-layout.html">
    <link rel="import" href="/components/vaadin-grid/vaadin-grid.html">
{{/head}}

{{#> body}}
    <h1>Players</h1>

    <vaadin-grid>
        <table>
            <colgroup>
                <col sortable>
                <col sortable sort-direction="desc">
                <col sortable sort-direction="asc">
            </colgroup>
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Rating</th>
                    <th>Rating Deviation</th>
                </tr>
            </thead>
            <tbody>
                {{#each players}}
                    <tr>
                        <td>{{this.alias}}</td>
                        <td>{{this.currentRating.after.rating}}</td>
                        <td>{{this.currentRating.after.deviation}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </vaadin-grid>
{{/body}}

</html>
