<!doctype html>

<html>

    {{#> head title="Servers"}}
    {{#if currentUser.admin}}
    <link rel="import" href="/components/iron-form/iron-form.html">
    <link rel="import" href="/components/paper-button/paper-button.html">

    <link rel="import" href="/elements/pugchamp-admin-control/pugchamp-admin-server-control.html">

    <style is="custom-style">
        .action {
            background: var(--accent-color);
            color: var(--light-theme-text-color);
        }
    </style>
    {{/if}}
    {{/head}}

    {{#> body}}
    <h1>Servers</h1>

    {{#if currentUser.admin}}
    <form is="iron-form" method="post" action="/admin/servers" id="update-statuses">
        <input type="hidden" name="type" value="updateStatuses">

        <paper-button raised onclick="submit(event)" class="action">Update Server Statuses</paper-button>
    </form>
    {{/if}}

    {{#each servers}}
    <h2>{{@key}}</h2>

    <p>
        <strong>Status:</strong> {{status.status}}
        {{#if status.game}}
            (<a href="/game/{{status.game.id}}">Game</a>)
        {{/if}}
    </p>

    {{#if ../currentUser.admin}}
    <pugchamp-admin-server-control server="{{@key}}"></pugchamp-admin-server-control>
    {{/if}}
    {{/each}}

    {{#if currentUser.admin}}
    <script>
        function submit(e) {
            Polymer.dom(e).rootTarget.parentElement.submit();
        }

        function reload() {
            document.location.reload();
        }

        document.getElementById('update-statuses').addEventListener('iron-form-error', reload);
        document.getElementById('update-statuses').addEventListener('iron-form-response', reload);
    </script>
    {{/if}}
    {{/body}}

</html>
