<!doctype html>

<html>

    {{#> head title="Servers"}}
    {{#if currentUser.admin}}
    <link rel="import" href="/elements/pugchamp-server-rcon/pugchamp-server-rcon.html">
    {{/if}}
    {{/head}}

    {{#> body}}
    <h1>Servers</h1>

    {{#each servers}}
    <h2>{{@key}}</h2>

    <p>
        <strong>Status:</strong> {{status.status}}
        {{#if status.game}}
            (<a href="/game/{{status.game.id}}">Game</a>)
        {{/if}}
    </p>

    {{#if ../currentUser.admin}}
    <pugchamp-server-rcon server="{{@key}}"></pugchamp-server-rcon>
    {{/if}}
    {{/each}}
    {{/body}}

</html>
