<!doctype html>

<html>

<head>
    {{> head}}

	<link rel="import" href="/components/iron-form/iron-form.html">
	<link rel="import" href="/components/paper-button/paper-button.html">
	<link rel="import" href="/components/paper-input/paper-input.html">

	<style is="custom-style">
		#save {
			background: var(--primary-color);
			color: var(--dark-theme-text-color);
		}
	</style>
</head>

<body class="fullbleed" unresolved>
	<paper-drawer-panel>
  		{{> drawer}}

  		<div main>
			{{> toolbar}}

			<div id="main">
				<h2>User Settings</h2>

				<form id="user-settings" method="post">
					{{#unless user.alias}}
						<p><paper-input type="text" label="Alias" name="alias" placeholder="thesupremecommander" auto-validate error-message="alphanumeric characters only" pattern="\w+" required></paper-input></p>
					{{else}}
						<p><paper-input type="text" label="Alias" value="{{user.alias}}" readonly></paper-input></p>
					{{/unless}}

					<paper-button raised onclick="save()" id="save">Save</paper-button>
				</form>
			</div>
		</div>
	</paper-drawer-panel>

	<script>
		function save() {
			document.getElementById('user-settings').submit();
		}
	</script>
</body>
