<!doctype html>

<html>

    {{#> head title="User Settings"}}
    <link rel="import" href="/components/iron-form/iron-form.html">
    <link rel="import" href="/components/paper-button/paper-button.html">
    <link rel="import" href="/components/paper-checkbox/paper-checkbox.html">
    <link rel="import" href="/components/paper-input/paper-input.html">

    <style is="custom-style">
        #save {
            background: var(--primary-color);
            color: var(--dark-theme-text-color);
        }
    </style>
    {{/head}}

    {{#> body}}
    <h2>User Settings</h2>

    <form id="user-settings" method="post">
        {{#unless currentUser.alias}}
        <p>
            <paper-input type="text" label="Alias" name="alias" placeholder="thesupremecommander" auto-validate error-message="up to fifteen alphanumeric characters only" pattern="^[A-Za-z0-9_]{1,15}$" required></paper-input>
        </p>
        {{else}}
        <p>
            <paper-input type="text" label="Alias" value="{{currentUser.alias}}" readonly></paper-input>
        </p>
        {{/unless}}

        <template is="dom-bind" id="draft-stats">
            <p>
                <paper-checkbox value="1" checked="\{{showDraftStats}}">Show Draft Stats</paper-checkbox>
                <input type="hidden" name="showDraftStats" value="1" disabled$="\{{!showDraftStats}}">
            </p>

        </template>

        <paper-button raised onclick="save()" id="save">Save</paper-button>
    </form>

    <script>
        var draftStats = document.getElementById('draft-stats');
        draftStats.addEventListener('dom-change', function() {
            draftStats.showDraftStats = {{#if currentUser.stats.draft}}true{{else}}false{{/if}};
        });

        function save() {
            document.getElementById('user-settings').submit();
        }
    </script>
    {{/body}}

</html>
