<!doctype html>

<html>

<head>
	<script src="/components/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
    <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{> header }}

	Hey, you need to properly register before moving on!

    {{> footer }}

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/pugchamp.js"></script>
</body>

</html>
