<!doctype html>

<html>

    {{#> head title="About"}}
    {{/head}}

    {{#> body}}
    <h1>About</h1>

    <p>PugChamp was designed to provide an accessible and well-designed pick-up game (PUG) platform.</p>
    {{/body}}

</html>
