<!doctype html>

<html>

    {{#> head title="Rules"}}
    {{/head}}

    {{#> body}}
    <h1>Rules</h1>

    <strong>Violations of any of the following rules may result in applicable restrictions. Admins are given discretion in enforcing these rules as they see fit for the benefit of the site and its community.</strong>

    <h2>Courtesy</h2>

    <ul>
        <li><strong>Be respectful to your fellow players.</strong></li>
        <li>Do not attempt to impersonate other users.</li>
        <li>Do not spam or advertise in chat.</li>
    </ul>

    <h2>Gameplay</h2>

    <ul>
        <li>Play to the best of your ability.</li>
        <li>Do not ready up if you will not be immediately available to play a full-length game.</li>
        <li>Do not add up to captain if you are not able to pick a competitive team or if you are not comfortable playing any of the roles.</li>
        <li>Do not add up to a role if you are not comfortable playing that role.</li>
        <li>Do not play if you are not able to communicate with your team via Mumble voice.</li>
        <li>Do not excessively play roles that you were not drafted to play.</li>
    </ul>
    {{/body}}

</html>
